@charset "UTF-8";

@font-face{
    font-family: 'Dos';
    src: url('../fonte/fonte.ttf');
    font-weight: normal;
    format(.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --fonte: 'Dos', cursive;
}
*{
    font-family: var(--fonte);
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
body {
    background-image: url('imagens/fundo.png');
    background-size: cover;
    background-attachment: fixed;
}

p {font-family:'Kanit', sans-serif;}

header {
    background-color: #41a6f6;
    border: 3px solid #3b5dc9;
    padding: 12px;
    box-shadow: 0px 3px 0px #29366f;
}

.nav {
    position: fixed;
    height: 100%;
    margin-top: 40px;
}

#barra {
    position: absolute;
    object-fit: contain;
    width: 70px;
    height: auto;
}

#icone-chefe {
    position: absolute;
    object-fit: contain;
    left: 4px;
    top: 28px;
    width: 57px;
    height: auto;
    
}

#icone-ativo-chefe {
    position: absolute;
    object-fit: contain;
    top: 25px;
    width: 279px;
    height: auto;
    transform: translateX(-100%); /* Inicialmente deslocado à esquerda */
}

.center {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 300px;
    margin-bottom: 10px;
}

main {
    background-color: #e9b14e;
    min-width: 100px; /* Tamanho mínimo da largura */
    max-width: 1000px;
    border-bottom: 3px solid #b66c26;
    border-left: 3px solid #b66c26;
    border-right: 3px solid #b66c26;
    position: absolute;
    margin-left: 200px;
    right: 2%;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 3px 0px #724b2c;
    font-family: var(--fonte);
    font-size: 2vh;
}
